<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Hoo</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire|shadow-multiple">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-1 mb-4">Welcome home.</h1>
      <img class="img-fluid" id="banner" src="https://the-hoo-website.joaquinharless.repl.co/static/banner.jpg" >
      <h2 class="text-center mt-1 mb-0">All that you do will be seen.</h2>
      <p class="text-center lead mb-0">Don't touch anything; put everything back when you're done. Move silently, without hesitation.</p>
      <p class="text-center lead mb-0">Fear nothing:</p>
      <p class="text-center lead">you are <strong><u>NOT</u></strong> safe here but you <em class="text-decoration-underline">will</em> survive.</p>
      <div class="text-center">
        {% for action in actions %}
            {% if action['act_name'] == 'Move' %}
              {% include 'move_btn.html' %}
            {% elif action['act_name'] == 'Interact' %}
              {% include 'interact_btn.html'%}
            {% elif action['act_name'] == 'Search' %}
              {% include 'search_btn.html' %}
            {% elif action['act_name'] == 'Attack' %}
              {% include 'attack_btn.html' %}
            {% endif %}
        {% endfor %}
      </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>